# -----------------------------------------------------------------------
# Files ignored by Git.
#
# Keep project-specific ignore rules in subdirectories whenever possible.
# -----------------------------------------------------------------------

#[ Build file ]
build/
dist/
package/
result
result-*
target/

#[ Dev ]
.direnv/
.claude/
.cargo/
.idea/
.vscode/

#[ User's variable ]
.env
.env.*
!.env.example

#[ OS ]
.DS_Store
Desktop.ini
Thumbs.db
